# From https://gist.github.com/pemcconnell-anyvision/10394636
files:

  "/etc/httpd/conf.d/wsgihacks.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      WSGIPassAuthorization on

  "/etc/httpd/conf.d/allow_override.conf":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    encoding: plain
    content: |
      <Directory /opt/python/current/app/plasmiddb>
        AllowOverride AuthConfig
      </Directory>

  "/etc/httpd/conf.d/auth.conf":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    encoding: plain
    content: |
      <Directory /opt/python/current/app/plasmiddb>
        AuthType Basic
        AuthName "PlasmidDB"
        AuthUserFile /etc/httpd/conf.d/.htpasswd
        Require valid-user
      </Directory>

  "/etc/httpd/conf.d/.htpasswd":
    mode: "000644"
    owner: ec2-user
    group: ec2-user
    encoding: plain
    content: |
        cloningappuser:$apr1$Ji1ZFrP5$zBH8fqf8/1kDHJ1sf6BEF/