<div class="container">
    <div id="parts">
        <div id="partInstructionsButton"><b>Instructions.</b></div>
        <div id="partInstructionsDiv">
            <p style="font-size:10px;margin-top:0">
                Part entry format (tab-delimited, one new line per part): Description  Part Type (if Custom, add OHs)  Sequence  Method (default None) [CUSTOM -> 5'OH 3'OH]<br>
                Recognized parts: 1 2a 2b 3a 3b 3c 3d 3e 4 4a 4b 5 6 7 Custom<br>
                Define parts spanning multiple part types with a dash e.g. 3a-3e<br>
                Sequences are DNA (ATCGatcg)<br>
                To enable primer design and PCR design method, include PCR templates in the second box<br>
                PCR template entry format (tab-delimited, one new line per template): Template Name  Sequence<br>
            </p>
        </div>

        <h4>Part Input</h4>
        <textarea id="partEntry" wrap="off" rows="20" placeholder="Paste your part sequences here!"></textarea>
        <h4>Part PCR Templates (Optional)</h4>
        <textarea id="templateEntry" wrap="off" rows="20" placeholder="Paste your PCR templates here!"></textarea>

        <form id="partForm">
            <label for="partProject">Select Project: </label>
            <select id="partProject" name="Part Project">
                {% for project in projects %}
                    <option value="{{ project.id }}">{{ project.project }}</option>
                {% endfor %}
            </select>
            <br>
            <label for="partEntryVectors">Select Part Entry Vector: </label>
            <select id="partEntryVectors" name="Entry Vectors">
                {% for plasmid in partEntryVectors %}
                    <option value="{{ plasmid.id }}">{{ plasmid.get_aliases_as_string }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="checkbox" id="addStandard" name="addStandard" value="addStandard" checked>
            <label for="addStandard">Standardize parts</label>
            {# <br>#}
            {# Restriction Sites to Remove:#}
            {# <input type="checkbox" id="BbsI" name="BbsI" value="BbsI" checked>#}
            {# <label for="vehicle1"> BbsI</label>#}
            {# <input type="checkbox" id="BsmBI" name="BsmBI" value="BsmBI" checked>#}
            {# <label for="BsmBI"> BsmBI</label>#}
            <br>
            <br>
            <button class="partButton BlockButton" type="submit" id="submitParts">Create Parts!</button>
        </form>

        <div id="partErrors">
            <p>There were errors with your parts! Please fix the following:</p>
            <ul id="partErrorList"></ul>
        </div>

    </div>
</div>
