<div id="featuretypes">
    <div class="container">
        <div class="FeatureTypeForm">
            <div class="FeatureTypeDataTable">
                <table id="FeatureTypeDataTable">
                    <thead>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Creator</td>
                    </thead>
                </table>
            </div>

            <div class="NewFeatureTypeContainer">

            </div>
        </div>
    </div>
</div>