{% extends "base.html" %}

{% block header %}
<div class="header">
    <h1>Plasmid Database</h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div id="databaseInstructionsButton"><b>Instructions.</b></div>
    <div id="databaseInstructionsDiv">
        <p style="font-size:10px;margin-top:0">
            Click on an ID number to see the plasmid's dedicated page<br>
            Columns can be shown/hidden using the "Toggle Columns" button<br>
            All columns can be filtered using dropdowns or text<br>
            Show up to 500 plasmids at a time, or browse page by page<br>
        </p>
    </div>
    <div class="datatable">
        <table id="plasmid_datatable" class="table display">
        <thead>
            <tr>
                <th>ProjectID</th>
                <th>Project</th>
                <th>ID</th>
                <th>Alias</th>
                <th>Description</th>
                <th>Attributes</th>
                <th>Resistance</th>
                <th>Features</th>
                <th>Location</th>
                <th>Status</th>
                <th>Assembly</th>
                <th>Creator</th>
                <th>Created</th>
            </tr>
            <tr class="filterInputsRow">
                <th></th>
                <th>
                    <select name="project" id="id_project" form="plasmidFilterInputs" class="filterInputs" required>
                    <option value=""></option>
                    {% for project in projects %}
                        <option value="{{ project.id }}">{{ project.project }}</option>
                    {% endfor %}
                    </select>
                </th>
                <th><input type="number" name="projectindex" min="1" step="any" id="id_projectindex" class="filterInputs" oninput="validity.valid||(value='');" placeholder="Filter"></th>
                <th><input type="text" name="alias" id="id_alias" class="filterInputs" placeholder="Filter"></th>
                <th><input type="text" name="description" id="id_description" class="filterInputs" placeholder="Filter"></th>
                <th><input type="text" name="attribute" id="id_attribute" class="filterInputs" placeholder="Filter"></th>
                <th><input type="text" name="resistance" id="id_resistance" class="filterInputs" placeholder="Filter"></th>
                <th><input type="text" name="feature" id="id_feature" class="filterInputs" placeholder="Filter"></th>
                <th><input type="text" name="location" id="id_location" class="filterInputs" placeholder="Filter"></th>
                <th>
                    <select name="status" id="id_status" form="plasmidFilterInputs" class="filterInputs" required>
                        <option value=""></option>
                        <option value="Designed">Designed</option>
                        <option value="Verified">Verified</option>
                        <option value="Abandoned">Abandoned</option>
                    </select>
                </th>
                <th><input type="text" name="assembly" id="id_assembly" class="filterInputs" placeholder="Filter"></th>
                <th>
                    <select name="creator" id="id_creator" form="plasmidFilterInputs" class="filterInputs" required>
                    <option value=""></option>
                    {% for plasmidCreator in users %}
                        <option value="{{ plasmidCreator.id }}">{{ plasmidCreator }}</option>
                    {% endfor %}
                    </select>
                </th>
                <th><input type="text" name="date" id="id_date" class="filterInputs" placeholder="Filter"></th>
            </tr>
        </thead>
        </table>
    </div>
    <div class="DatatableOptions">
        {# Download selected plasmids #}
        <form method="post" action="download_database_plasmids/" style="display: inline-block">
            {% csrf_token %}
            <input type="hidden" name="DownloadSelectedDatabasePlasmids" id="DownloadSelectedDatabasePlasmids">
            <button type="submit" id="DownloadPlasmidsSubmitButton" class="BlockButton" download><i class="fas fa-download fa-fw" data-fa-transform="grow-8"></i>  Download Selected Plasmids</button>
        </form>

        {# Assembly instructions for selected plasmids #}
        {# todo: update to use javascript instead of... whatever this is... #}
        <form method="post" action="get_assembly_instructions/" style="display: inline-block">
            {% csrf_token %}
            <input type="hidden" name="PlasmidAssemblyInstructions" id="PlasmidAssemblyInstructions">
            <button type="submit" id="PlasmidAssemblyInstructionsButton" class="BlockButton"><i class="fas fa-wrench" data-fa-transform="grow-8"></i>  Get Assembly Instructions</button>
        </form>

        {# Delete selected plasmids #}
        <button id="DeleteSelectedDatabasePlasmids" class="BlockButton"><i class="fas fa-trash fa-fw" data-fa-transform="grow-8"></i>  Delete Selected Plasmids</button>

        {# Toggle table columns #}
        <div class="ToggleColumnButtonHolder">
            <button id="HideDatatableColumnsButton" class="BlockButton">Toggle Columns</button>
            <div id="ToggleDatatableColumns" class="PopupDialog">
                <ul>
                </ul>
            </div>
        </div>
    </div>
</div>

{# Delete Plasmids Confirmation Overlay #}
<div id="deletePlasmidsOverlay" style="display: none">
    <div class="overlayContainer">
        <div>
            <h2>Plasmids to be deleted:</h2>
            <table>
                <thead>
                    <tr>
                        <th>Project</th>
                        <th>Index</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody id="deletePlasmidInfo">
                </tbody>
            </table>

            <div id="errorPlasmidInfoContainer" style="display: none">
                <h4>You do not have permission to delete the following plasmids:</h4>
                <table>
                    <thead>
                        <tr>
                            <th>Project</th>
                            <th>Index</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody id="errorPlasmidInfo">
                    </tbody>
                </table>
            </div>
        </div>
        <p>Are you sure you want to delete these plasmids from the database?</p>

        <button type="button" id="confirmDeletePlasmidsButton" class="dark BlockButton">YES I'M SURE</button>
        <button type="button" id="cancelDeleteButton" class="dark BlockButton">NO GET ME OUT OF HERE</button>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
const currentUser = '{{ user }}';
</script>

{# Javascript #}
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.js"></script>

{% load static %}
<script type="text/javascript" src="{% static 'plasmid_database/javascript/database.js' %}"></script>

{# CSS #}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/af-2.3.4/b-1.6.1/cr-1.5.2/fc-3.3.0/fh-3.1.6/kt-2.5.1/r-2.2.3/rg-1.1.1/rr-1.2.6/sc-2.0.1/sp-1.0.1/sl-1.3.1/datatables.min.css"/>
<link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/database.css' %}">
{% endblock %}

{% block run_scripts %}
{#Script#}
<script type="text/javascript">
    const csrftoken = getCookie('csrftoken');
</script>
{% endblock %}
