container_commands:
  01_makemigrations:
    command: "python3 manage.py makemigrations"
    leader_only: true
  02_migrate:
    command: "python3 manage.py migrate"
    leader_only: true
  03_collectstatic:
    command: "python3 manage.py collectstatic --noinput"
  04_createsu:
    command: "python3 manage.py createsu"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "django_plasmid_database.settings"
    "PYTHONPATH": "/opt/python/current/app/django_plasmid_database:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "django_plasmid_database/wsgi.py"
    StaticFiles: "/static/=plasmid_database/static/"