container_commands:
  01_makemigrations:
    command: "python3 plasmiddb/manage.py makemigrations"
  02_migrate:
    command: "python3 plasmiddb/manage.py migrate --fake --noinput"
    leader_only: true
  03_createadmin:
    command: "python3 plasmiddb/manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "python3 plasmiddb/manage.py collectstatic --noinput"
  05_populateattributes:
    command: "python3 plasmiddb/manage.py database_init Admin"
    leader_only: true

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "django_plasmid_database.settings"
    "PYTHONPATH": "/opt/python/current/app/plasmiddb:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "plasmiddb/wsgi.py"
    StaticFiles: "/static/=plasmiddb/static/"