container_commands:
  01_install:
    command: "sudo yum -y install snapgene_server_2.1.2_linux.rpm | /bin/sh -c 'if [ $? -ne 1 ]; then exit 0; fi'"
  01_installXVFB:
    command: "sudo yum -y install Xvfb"
  02_license:
    command: "sudo cp .klf /etc/snapgene-server"
  02_snap:
    command: "sudo python3 edit_snapgene.py"
  03_startserver:
    command: "sudo /opt/gslbiotech/snapgene-server/tools/start"
