<dl id="comments">
    {% for comment in comment_list %}
        <dt id="c{{ comment.id }}">
            {{ comment.submit_date }} - {{ comment.name }}
            {% if current_user == comment.user %}
                <form action="{% url 'plasmid_database:delete-comment' %}" method="post" style="display: inline-block">
                    {% csrf_token %}
                    <input type="hidden" name="comment_id" value="{{ comment.id }}">
                    <input type="hidden" name="next" value="/database/{{ plasmid.project.project }}/{{ plasmid.projectindex }}/" />
                    <button type="submit" name="submit" style="color: white; background-color: #eb093c; border-radius: 4px;">
                        <i class="fas fa-trash" data-fa-transform="grow-2"></i>
                    </button>
                </form>
            {% endif %}
        </dt>
        <dd>
            <p>{{ comment.comment }}</p>
        </dd>
    {% endfor %}
</dl>
