{% extends "wiki/base_site.html" %}

{% block wiki_site_title %}
{% endblock %}

{% block wiki_header_branding %}
    <span class="navbar-brand">Plasmid Database</span>
{% endblock %}

{% block wiki_header_navlinks %}
<ul class="navbar-nav mr-auto">
    <li class="nav-item"><a class="nav-link" class="nav-link" href="{% url 'wiki:root' %}">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'plasmid_database:database' %}">Database</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'plasmid_database:add-plasmids' %}">Add</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'plasmid_database:plasmid-management' %}">Manage</a></li>
</ul>
{% endblock %}