/*******************************/
/* General Settings Formatting */
/*******************************/

.Settings-Flexbox {
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: center;
}

.Settings-Flexbox-Container {
    display: inline-block;
    flex: 1 1 45%;
    padding: 10px;
}

.DropdownTreeMenu {
    height: 100%;
    overflow-y: scroll;
}

/*************************************/
/* Attribute/Location Data Rendering */
/*************************************/

h3 {
    padding: 0 1em;
}

.DisplayItemDetails {
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: flex-start;
    list-style-type: none;
}

.ItemLabel {
    display: inline-block;
    flex: 0 1 150px;
    min-width: 150px;
    padding: 10px;
    font-weight: bold;
}

.ItemData {
    display: inline-block;
    flex: 1 1 70%;
    padding: 10px;
}

#DeleteLocation, #EditLocation {
    display: none;
}

/*********************/
/* Dialog Formatting */
/*********************/

#AttributeDeleteConfirmation, #LocationDeleteConfirmation {
    background-color: #eb093c;
    color: #ffffff;
    font-weight: bold;
}

/*********************************/
/* Table formatting
/*********************************/

tr, .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    font-family: "Open Sans", Calibri, sans-serif;
    font-style: normal;
    font-variant: normal;
}

tr {
    font-size: 8pt;
}

/* Feature/Project Forms */

.newForm{
    background-color: #007CBE;
    border-radius: 4px;
    color: white;
}

.deleteForm{
    background-color: #eb093c;
    border-radius: 4px;
    color: white;
    width: 5%;
}

.uploadForm{
    background-color: #6EA400;
    border-radius: 4px;
    color: white;
    width: 20%;
}

.editForm{
    background-color: #6EA400;
    border-radius: 4px;
    color: white;
    width: 20%;
}

.saveForm{
    background-color: #6EA400;
    border-radius: 4px;
    color: white;
    width: 20%;
}

.cancelForm{
    background-color: #ffdd00;
    border-radius: 4px;
    color: white;
    width: 20%;
}
.addFeatureForm, #selectedFeatureForm{
    margin: 1em;
    width: 100%;
}

.FeatureFormRow {
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.FeatureFormValue {
    flex: 1 1 20%;
    display: inline-block;
}

.FeatureFormForm {
    flex: 1 1 80%;
    display: inline-block;
}

.dialogDeleteButton {
    color: #eb093c;
}

/*********************************/
/* Container Mangement
/*********************************/

.containers-manage-flex {
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: center;
    width: 100%;
}

.jstree-column {
    display: inline-block;
    height: 100%;
    flex: 0 0 15%;
    padding: 10px;
}

.container-content-panel{
    display: inline-block;
    height: 100%;
    flex: 1 1 70%;
    padding: 10px;
}