{% extends "base.html" %}

{% block header %}
    <div class="header">
        <h1>Assembly Result</h1>
    </div>
{% endblock %}

{% block content %}
{# Create table for assembly results #}
<div class="container">
    <table style="width:100%">
        <tr>
            <th>Index</th>
            <th>Success</th>
            <th>Assembly ID</th>
            <th>Reaction Plasmids</th>
            <th>Notes</th>
        </tr>

        {% for result, result_dict in results.items %}
            <tr>
                <td>{{ result }}</td>
                <td>{{ result_dict.success }}</td>
                <td>{{ result_dict.new_plasmid.get_standard_id }}</td>
                <td>{{ result_dict.reaction_plasmids }}</td>
                <td>Notes</td>
            </tr>
        {% endfor %}

    </table>
</div>
{% endblock %}

{% block javascript %}
{% load static %}
<script type="text/javascript">
    var csrftoken = getCookie('csrftoken');
</script>

{# Javascript #}

{# CSS #}
<link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/add_plasmids.css' %}">

{% endblock %}
