.datatable{
    margin: 2%;
}

tr, .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    font-family: "Open Sans", Calibri, sans-serif;
    font-style: normal;
    font-variant: normal;
}

tr {
    font-size: 8pt;
}

ul{
    list-style-type: none;
    padding: 0.5em 1em 0 1em;
    margin: 0;
}

/*.connected {*/
    /*position: element(#HideDatatableColumnsButton);*/
    /*transform: translateY(-100%);*/
/*}*/

.ToggleColumnButtonHolder{
    position: relative;
    display: inline-block;
    transition-timing-function: ease;
    transition: height 0.5s;
}

#HideDatatableColumnsButton {
    width: 150px;
}

#ToggleDatatableColumns{
    width: 150px;
    display: none;
    position: absolute;
    z-index: 1;
    bottom: 40px;
    background-color: #052049;
}

.ToggleColumnButtonHolder label{
    font-size: 10pt;
    color: #FFFFFF;
    padding: 0 1em;
}

#DeleteSelectedDatabasePlasmids{
    width: 200px;
    background-color: #eb093c;
    display: none;
}

/*=====================================*/
/* Delete Plasmid Confirmation Prompt */
/*===================================*/

#deletePlasmidsOverlay {
    display: none;
}

/* todo: generalize table overlay CSS */
#deletePlasmidsOverlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlayContainer {
    margin: auto;
    width: 80%;
    background-color: white;
    overflow-y: scroll;
}