/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/*********/
/* Fonts */
/*********/

h1, h2, h3, h4, p, a, b, u, ul, li, span, button, label, form, th, td{
  font-family: "Open Sans", Calibri, sans-serif;
  font-style: normal;
  font-variant: normal;
  color: #000000;
}

/**********/
/* Header */
/**********/

h1 {
  text-align: center;
  padding: 0.5em 0 0.5em 0;
  margin: 0;
  font-size: 24px;
  color: #FFFFFF;
}

.header {
  background-color: #052049;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
}

/**********************/
/* Sub-navigation bar */
/**********************/

ul.nav {
  margin:0;
  padding:0;
  text-align:center;
  width: 100%;
}

.nav li {
  display:inline-block;
  width:10%;
  margin:0;
  padding:0;
  color: white;
}

.topnav {
  background-color: #052049;
  overflow: hidden;
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.4em 0.4em;
  text-decoration: none;
  font-size: 16px;
}

.topnav a:hover {
  background-color: #FFFFFF;
  color: black;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #FFFFFF;
    margin: 0 15vw 0 15vw;
    padding: 0;
}
/******************/
/* Navigation Bar */
/******************/

.pageTabs{
    padding: 0;
}

ul.pageTabs {
    list-style: none;
    text-align: center;
    background-color: #052049;
    margin: 2px 0 2px 0;
}

.pageTabs li {
    display: inline-block;
    text-align: center;
    width: 20%;
    padding: 0;
}

.pageTabs a{
    display: block;
    color: white;
    text-align: center;
    padding: 0.4em 0.4em;
    text-decoration: none;
    font-size: 16px;
}

a.active{
    background-color: #FFFFFF;
    color: #000000;
}

.SubNavigationBar ul li:hover a {
    background-color: #D1D3D3;
    color: #000000;
}

.SubNavigationBar ul li.current a {
    background-color: #FFFFFF;
    color: #000000;
}

/********/
/* Body */
/********/

body {
  background-color: #FFFFFF;
  margin: 0;
}

.container {
  max-width: 90vw;
  margin: 0 auto;
}

/*************/
/* Datatable */
/*************/

.filterInputs {
    width: 100%;
    box-sizing: border-box;
}

::-webkit-input-placeholder {
   text-align: center;
}

/************************/
/* Drop Down List Trees */
/************************/

.DropdownTreeMenu a{
    text-decoration: none;
}

.jstree-wholerow-hovered{
    background-color: #D1D3D3;
}

.jstree-wholerow-clicked{
    background-color: #007CBE;
}

/**************/
/* Flex Lists */
/**************/

.GenericListFlex{
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: flex-start;
    list-style-type: none;
}

.GenericListKey {
    flex: 1 0 25%;
    display: inline-block;
}

.GenericListValue {
    flex: 1 1 75%;
    display: inline-block;
}



/**********************/
/* General Formatting */
/**********************/

.labeldiv{
    margin: 0.5em;
}

.BlockButton{
    color: white;
    background-color: #052049;
    text-align: center;
    font-size: 12px;
    padding: 1em;
    border: none;
}

.ui-dialog-title {
    color: white;
}