/************************/
/* Data Dump Formatting */
/************************/

.PlasmidDataDump{
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: flex-start;
    list-style-type: none;
}

.InnerDataDump{
    display: flex;
    flex-flow: row wrap;
    flex-basis: auto;
    justify-content: flex-start;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.PlasmidKey {
    flex: 1 0 200px;
    display: inline-block;
}

.PlasmidValue {
    flex: 1 1 60%;
    display: inline-block;
}

.Settings-Flexbox-Container {
    display: inline-block;
    flex: 1 1 45%;
    padding: 10px;
}

.deleteAlias {
    color: #FFFFFF;
    border-radius: 4px;
    margin-right: 1em;
}

/* Comments */
#id_submit {
    color: white;
    background-color: #052049;
    text-align: center;
    font-size: 12px;
    padding: 1em;
    border: none;
}

#id_comment {
    width: 100%;
}

/********************************/
/* Sequence-Specific Formatting */
/********************************/

.DisplaySequence {
    word-wrap: break-word;
}
