<div id="features">
    <div class="container">
        <div class="FeatureForm">
            <div class="DataTableContainer">
                <table id="FeatureDataTable" style="table-layout: fixed">
                    <thead>
                        <tr>
                            <td>ID</td>
                            <td>Name</td>
                            <td>Description</td>
                            <td>Sequence</td>
                            <td>Type</td>
                            <td>Creator</td>
                        </tr>
                        <tr class="filterFeaturesRow">
                            <th></th>
                            <th><input type="text" name="name" id="id_FeatureName" class="filterInputs" placeholder="Filter"></th>
                            <th><input type="text" name="description" id="id_FeatureDescription" class="filterInputs" placeholder="Filter"></th>
                            <th><input type="text" name="sequence" id="id_FeatureSequence" class="filterInputs" placeholder="Filter"></th>
                            <th>
                                <select name="type" id="id_FeatureType" class="filterInputs" required>
                                <option value=""></option>
                                {% for feature_type in feature_types %}
                                    <option value="{{ feature_type.id }}">{{ feature_type.name }}</option>
                                {% endfor %}
                                </select>
                            </th>
                            <th>
                                <select name="creator" id="id_FeatureCreator" class="filterInputs" required>
                                <option value=""></option>
                                {% for feature_creator in users %}
                                    <option value="{{ feature_creator.id }}">{{ feature_creator.username }}</option>
                                {% endfor %}
                                </select>
                            </th>
                        </tr>
                    </thead>
                </table>
            </div>

            {# Edit Existing Features #}
            <div id="selectedFeatureForm">
                <div id="selectedID" style="display: none"></div>
                <ul class="FeatureFormRow">
                    <li class="FeatureFormValue">Feature Type</li>
                    <li class="FeatureFormForm" id="selectedType"></li>
                    <li class="FeatureFormForm" id="featureTypeDropdown" style="display: none">
                        <select class="feature_type" id="featureTypeDD" name="type">
                            <option value=""></option>
                            {% for feature_type in feature_types %}
                                <option value="{{ feature_type.id }}">{{ feature_type.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <ul class="FeatureFormRow">
                    <li class="FeatureFormValue">Feature Name</li>
                    <li class="FeatureFormForm" id="selectedName"></li>
                </ul>
                <ul class="FeatureFormRow">
                    <li class="FeatureFormValue">Feature Description</li>
                    <li class="FeatureFormForm" id="selectedDescription" style="word-break: break-word"></li>
                </ul>
                <ul class="FeatureFormRow">
                    <li class="FeatureFormValue">Feature Sequence</li>
                    <li class="FeatureFormForm" id="selectedSequence" style="word-break: break-all"></li>
                </ul>
                <div id="selectedFeatureAlerts"></div>
                <button onclick="editFeature(this);" type="button" class="editForm" id="editForm" style="display: none"><i class="fas fa-fw fa-edit"></i></button>
                <button onclick="saveFeature(this);" type="button" class="saveForm" id="saveForm" style="display: none"><i class="fas fa-fw fa-bookmark"></i></button>
                <button onclick="cancelFeature(this);" type="button" class="cancelForm" id="cancelForm" style="display: none"><i class="fas fa-fw fa-ban"></i></button>
                <button onclick="deleteFeature(this);" type="button" class="deleteForm" id="deleteForm" style="display: none"><i class="fas fa-trash"></i></button>
            </div>

            {# Add new Features #}
            <div class="AddFeatures">
                <h3><button id="AddFeatureFormButton" type="button" class="newForm" style="display: inline-block"><i class="fas fa-plus"></i></button> Add Features </h3>

                <!--New Add Feature Forms will go here-->
                <div id="FeatureFormContainer"></div>
            </div>

            {# Add Feature Template #}
            <div style="display:none;" class="addFeatureForm">
                {# Feature Types #}
                <ul class="FeatureFormRow">
                    <li class="FeatureFormValue">
                        <label for="feature_type">Feature type:</label>
                    </li>
                    <li class="FeatureFormForm">
                        <select class="feature_type" name="type">
                            <option value=""></option>
                            {% for feature_type in feature_types %}
                                <option value="{{ feature_type.id }}">{{ feature_type.name }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                {# Feature Name #}
                <ul class="FeatureFormRow">
                    <li class="FeatureFormValue">
                        <label for="feature_name">Feature name:</label>
                    </li>
                    <li class="FeatureFormForm">
                        <input type="text" class="feature_name" placeholder="Feature Name"/>
                    </li>
                </ul>
                {# Feature Description #}
                <ul class="FeatureFormRow">
                    <li class="FeatureFormValue">
                        <label for="feature_description">Feature description:</label>
                    </li>
                    <li class="FeatureFormForm">
                        <textarea class="feature_description" placeholder="Enter Description Here" style="overflow:auto;resize:none;width:100%" rows="4"></textarea>
                    </li>
                </ul>
                {# Feature Sequence #}
                <ul class="FeatureFormRow">
                    <li class="FeatureFormValue">
                        <label for="feature_sequence">Feature sequence:</label>
                    </li>
                    <li class="FeatureFormForm">
                        <textarea class="feature_sequence" placeholder="Enter Sequence Here" style="overflow:auto;resize:none;width:100%" rows="4"></textarea>
                    </li>
                </ul>
                <div class="FeatureFormAlerts"></div>
                <button onclick="upload_feature(this);" type="button" class="uploadForm"><i class="fas fa-upload"></i></button>
                <button onclick="this.parentNode.remove();" type="button" class="deleteForm"><i class="fas fa-trash"></i></button>
            </div>

        </div>

        <div id="deleteDialog">
            <h1 style="color: #000000">Are you sure you want to delete this feature?</h1>
            <p id="deleteFeatureName"></p>
            <p id="deleteFeatureDescription"></p>
        </div>
    </div>
</div>