<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    {% load static %}
    {# CSS #}
    <link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/main.css' %}">
</head>

<body>
    {% block header %}
    {% endblock %}
    <div class="topnav" id="topnav">
        <ul class="nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'plasmid_database:database' %}">Database</a></li>
            <li><a href="{% url 'plasmid_database:add-plasmids' %}">Clone</a></li>
            <li><a href="{% url 'plasmid_database:plasmid-features' %}">Features</a></li>
            {% if user.is_authenticated %}
                <li>User: {{ user.get_username }}</li>
                <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
        </ul>
    </div>

    {% block content %}
    {% endblock %}

</body>

</html>

{# Javascript #}
<script src="{% static 'plasmid_database/javascript/libraries/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'plasmid_database/javascript/general.js' %}"></script>

{#Page-specific Javascript and CSS#}
{% block javascript %}
{% endblock %}

{% block run_scripts %}
{% endblock %}