{% extends "base.html" %}

{% block header %}
<div class="header">
    <h1>Database Management</h1>
</div>
{% endblock %}

{% block content %}
{# Tab Navigation #}
<nav class="SubNavigationBar">
    <ul class="pageTabs">
        <li><a href="#locations">Locations</a>
        <li><a href="#attributes">Attributes</a>
        <li><a href="#features">Features</a>
    </ul>
</nav>
{% endblock %}

{% block javascript %}
{# javascript #}
{% load static %}
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{% static 'plasmid_database/javascript/libraries/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plasmid_database/javascript/general.js' %}"></script>

{# CSS #}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
<link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/libraries/loading.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/libraries/jquery-ui.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/libraries/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/libraries/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/main.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'plasmid_database/css/database.css'%}">
{% endblock %}

{% block run_scripts %}
{% endblock %}