.datatable{
    margin-top: 1%;
    margin-bottom: 2%;
}

#plasmid_datatable {
    width: 100%;
    table-layout: fixed;
    word-wrap:break-word;
    word-break:  break-all;
    border-collapse: collapse;
}

tr, .dataTables_length, .dataTables_filter, .dataTables_info, .dataTables_paginate {
    font-family: "Open Sans", Calibri, sans-serif;
    font-style: normal;
    font-variant: normal;
}

tr {
    font-size: 8pt;
}

ul{
    list-style-type: none;
    padding: 0.5em 1em 0 1em;
    margin: 0;
}

/*.connected {*/
    /*position: element(#HideDatatableColumnsButton);*/
    /*transform: translateY(-100%);*/
/*}*/

.ToggleColumnButtonHolder{
    position: relative;
    display: inline-block;
    transition-timing-function: ease;
    transition: height 0.5s;
}

#HideDatatableColumnsButton {
    width: 180px;
}

#ToggleDatatableColumns{
    width: 180px;
    display: none;
    position: absolute;
    z-index: 999999999999999;
    bottom: 40px;
    background-color: #052049;
}

.ToggleColumnButtonHolder label{
    font-size: 10pt;
    color: #FFFFFF;
    padding: 0 1em;
}

#DeleteSelectedDatabasePlasmids{
    width: 200px;
    background-color: #eb093c;
    display: none;
}

/* Instructions Block */

#databaseInstructionsButton{
    width: 100%;
    margin-top: 1em;
}

#databaseInstructionsDiv{
    display: block;
    overflow: hidden;
    transition: max-height 2s ease-in-out;
}

/*=====================================*/
/* Delete Plasmid Confirmation Prompt */
/*===================================*/

.no-close .ui-dialog-titlebar-close {
  display: none;
}

#confirmDeletePlasmidsButton {
    background-color: #eb093c;
    color: #ffffff;
    font-weight: bold;
}

.overlayContainer {
    margin: auto;
    width: 80%;
    background-color: white;
    overflow-y: scroll;
}